/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/

@font-face {
	font-family: "VulfMono";
	src: url("/VulfMono-Regular.otf");
}

body  {
	font-size: 14px;
	font-family: "VulfMono";
	margin: 10px 10px 0px 10px;
}
table {
	border-collapse: collapse;
}

tr {
	border: 1px solid;
}
tr td:nth-child(1), tr th:nth-child(1) {
	border-right: 1px solid;
}
th {
	padding: 6px;
}
#table_container {
	overflow-y: scroll;
	height:400px;
}
.name,#totals_row td,.player_td {
	border: 1px solid black;
}
.player_td div {
	display: flex;
	justify-content: space-between;
}
#totals_row div, .player_td div {
	padding:6px;
}
#totals_row div {
	width: 50%;
	justify-content: center;
}
td:hover {
	cursor: pointer;
}
div {
	display: flex;
}
button {
	color: white;
	text-align: center;
	cursor: pointer;
	background: rgba(0,0,0,0);
	color: #006BB6;
	padding: 7px;
	flex: 1;
	font-weight: bold;
}

button.active {
	box-shadow: inset 0 0 0 0px white,inset 0 5px 40px #231F20;
}
.best, .clicked {
	background-color: #00ff00;
}

#continue {
	text-align: right;
	display: none;
}

#continue a {
	text-decoration: none;
}

#updated {
	text-align: center;
	font-style: italic;	
}

#updated a {
	
}

#updated span {
	width: 100%;
	padding: 5px;
}
